.h1, .product__name, .product__base-price, .page__title {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
}
  
.h2, .main-nav a, .product__params-title, .booking-option-title, .floor-plan .table {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
  
.h3, .floor-plan .object {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  bottom: -60px;
}
  
.main-nav a {
  color: #ff6b6b;
  text-decoration: none;
  margin-right: 24px;
  text-align: center;
  padding: 12px 24px;
  background: #262626;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
  
.main-nav a.active {
  background: #f2f2f2;
}

/*PAGES*/

#pages > * {
  display: none;
}
  
#pages > .active {
  display: block;
}
  
.booking-widget {
  transform: opacity 500ms;
}
  
.booking-widget.loading {
  opacity: 0.25;
}
  
.booking-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 4px;
}
  
.booking-option-title {
  display: block;
  margin: 0 0 24px 0;
}
  
.booking-option-title > .widget-amount {
  margin: 24px 0 0 0;
}
  
.page__title {
  margin: 0 0 48px 0;
  text-align: center;
}
  
.time-picker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 48px 0;
}
  
.hour-picker {
  position: relative;
  width: 50%;
}
  
.hour-picker .output {
  position: absolute;
  right: 0;
}
  
.rangeSlider {
  top: 12px;
  background: #e6e6e6;
  box-shadow: none;
  height: 12px;
}
  
.rangeSlider__handle {
  box-shadow: none;
  border: 0;
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
  transition: transform 100ms;
}
  
.rangeSlider__handle::after {
  display: none;
}
  
.rangeSlider__handle__horizontal {
  width: 24px;
  height: 24px;
  top: -6px;
  background: #333;
}
  
.rangeSlider__fill {
  background: #78e08f;
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
  transition: width 100ms;
  box-shadow: none;
}
  
.flatpickr-day.disabled {
  color: #cccccc;
}
  
.floor-plan {
  position: relative;
  width: 320px;
  height: 320px;
  border: 12px solid #333;
  margin: 48px auto;
  background: linear-gradient(to right, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
  background-size: 36px;
  background-repeat: repeat;
}
  
.floor-plan > * {
  position: absolute;
  text-align: center;
  vertical-align: center;
}
  
.floor-plan .object {
  background: #f7f1e3;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
  
.floor-plan .entry {
  bottom: -24px;
  left: 50%;
  width: 100px;
  height: 18px;
  line-height: 17px;
  transform: translate(-50%, -50%);
  box-shadow: none;
  background: #ede3c8;
  border: 1px solid #333;
  border-width: 0 6px 0 6px;
}
  
.floor-plan .bar {
  left: 0;
  bottom: 50px;
  width: 100px;
  height: 50px;
  line-height: 50px;
}
  
.floor-plan .table {
  width: 70px;
  height: 70px;
  line-height: 70px;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  cursor: pointer;
}
  
.floor-plan .table--round {
  border-radius: 50%;
}
  
.floor-plan .table--round::after {
  border-radius: 50%;
}
  
.floor-plan .table.booked {
  cursor: not-allowed;
  color: #999999;
}
  
.floor-plan .table.booked::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #333;
  opacity: 0.4;
}
  
.floor-plan [data-table="1"] {
  left: 40px;
  top: 40px;
}
  
.floor-plan [data-table="2"] {
  right: 25px;
  top: 25px;
  width: 100px;
  height: 100px;
  line-height: 100px;
}
  
.floor-plan [data-table="3"] {
  right: 40px;
  top: 180px;
}
  
.booking-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 48px auto;
}
  
.selected {
  cursor: not-allowed;
  color: #999999;
}
  
.selected::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: chocolate;
  opacity: 0.4;
}
  
.home-container {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 4px;
}
  
/* Options - ORDER - BOOK - OPEN HOUR */
.options {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin-bottom: 90px;
}
  
.order-online, .book-table, .opening-hours {
  text-align: center;
  color: #fff;
  margin-top: 15px;
  margin-right: 15px;
}
  
.order-online h2, .book-table h2, .opening-hours h2 {
  margin-bottom: -25px;
}
  
.order-online a, .book-table a, .opening-hours a {
  text-decoration: none;
  color: #fff;
}
  
.order-online p, .book-table p, .opening-hours p {
  visibility: hidden;
  font-family: "Oswald", sans-serif;
}
  
.order-online:hover p, .book-table:hover p {
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.5s linear;
}
  
.order-online:hover h2, .book-table:hover h2 {
  transform: translateY(-15px);
  transition: 0.5s linear;
}
  
.order-online {
  background-image: url("./../../images/assets/pizza-1.jpg");
  flex: 45%;
}
  
.book-table {
  background-image: url("./../../images/assets/pizza-2.jpg");
  flex: 45%;
}
  
.opening-hours {
  background-color: #ff6b6b;
  flex: 100%;
}
  
.gallery, .footer {
  background-color: #f2f2f2;
}

.home-container {
  background-color: #fff;
}
  
/*Great venue*/

.great-venue {
  display: flex;
}

.great-venue-img {
  flex: 60%;
}

.great-venue-img img {
    flex: 60%;
    width: 90%;
    height: 100%;
}

.great-venue-description {
    padding: 10px;
    font-family: "Oswald", sans-serif;
    flex: 30%;
}
  
  
  
/* Gallery*/
  
.gallery {
  margin-top: 260px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
  
.gallery .box {
  position: relative;
  flex: 33%;
  padding: 5px;
}
  
.gallery .box img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
  
.gallery .box ul {
  list-style-type: none;
}
  
.gallery .box li {
  color: #fff;
  display: inline;
  visibility: hidden;
}
  
.gallery .box li a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  display: inline;
}
  
.gallery .overlay {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}
  
.gallery .box:hover img {
  opacity: 0.5;
  transition: all 0.3s;
}
  
.gallery .box:hover li {
  visibility: visible;
  margin-right: 5px;
}
  
.gallery .box:hover li .fa-heart {
  color: #ff6b6b;
}
  
.gallery .box:hover li .fa-share-alt {
  color: #ff6b6b;
}
  
@media all and (max-width:769px) {
  .great-venue-description {
    width: 300px;
  }

  .great-venue-img{
    max-width: 50%;
  }

  .cart {
    width: 30%;
  }
}
  